@import "./variable.scss";
@import "./animate.scss";

@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.44;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei",
    "PingFangSC-Regular", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(215, 215, 215, 0.5);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(208, 208, 208, 0.4);
  }

  scrollbar-arrow-color: #e6e6e6;
  scrollbar-face-color: #e6e6e6;
  scrollbar-highlight-color: #d7d7d7;
  scrollbar-shadow-color: #f6f6f6;
  scrollbar-track-color: #f2f2f2;

  // ios 惯性滚动
  -webkit-overflow-scrolling: touch;
}

.clearfix {
  clear: both;

  &::before,
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}